@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmerica-BoldItalic.woff2') format('woff2'),
        url('/fonts/GTAmerica-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('/fonts/GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmerica-RegularItalic.woff2') format('woff2'),
        url('/fonts/GTAmerica-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('/fonts/GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
